data-step-function/state-machine.json
{
  "QueryLanguage": "JSONata",
  "Comment": "A description of my state machine",
  "StartAt": "ECS Run Task Date Drifting",
  "States": {
    "ECS Run Task Date Drifting": {
      "Type": "Task",
      "Resource": "arn:aws:states:::ecs:runTask.sync",
      "Arguments": {
        "LaunchType": "FARGATE",
        "Cluster": "arn:aws:ecs:eu-west-3:418484240945:cluster/opk-opac-int-ecs-cluster",
        "TaskDefinition": "arn:aws:ecs:eu-west-3:418484240945:task-definition/ecs-nonprod-drifting:6",
        "Overrides": {
          "ContainerOverrides": [
            {
              "Name": "step-drifting",
              "Environment": [
                {
                  "Name": "CONTEXT_JSON",
                  "Value": "{% $string($states.input) %}"
                },
                {
                  "Name": "EXECUTION_NAME",
                  "Value": "{% $states.context.Execution.Name %}"
                }
              ]
            }
          ]
        },
        "NetworkConfiguration": {
          "AwsvpcConfiguration": {
            "Subnets": ["subnet-08ff82d84df0352d0", "subnet-08dc62b993be26d9b"],
            "SecurityGroups": [
              "sg-0a2a4492eca88f57f",
              "sg-01723ee39c2d30eea",
              "sg-063ddea6a10a068c9",
              "sg-075fb46fb5b598f22"
            ],
            "AssignPublicIp": "DISABLED"
          }
        }
      },
      "Next": "ECS RunTask Anonymisation",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "ECS Cleanup On Failure"
        }
      ]
    },
    "ECS RunTask Anonymisation": {
      "Type": "Task",
      "Resource": "arn:aws:states:::ecs:runTask.sync",
      "Arguments": {
        "LaunchType": "FARGATE",
        "Cluster": "arn:aws:ecs:eu-west-3:418484240945:cluster/opk-opac-int-ecs-cluster",
        "TaskDefinition": "arn:aws:ecs:eu-west-3:418484240945:task-definition/ecs-nonprod-anonymisation:4",
        "Overrides": {
          "ContainerOverrides": [
            {
              "Name": "step-anonymisation",
              "Environment": [
                {
                  "Name": "EXECUTION_ARN",
                  "Value": "{% $states.context.Execution.Id %}"
                },
                {
                  "Name": "EXECUTION_NAME",
                  "Value": "{% $states.context.Execution.Name %}"
                }
              ]
            }
          ]
        },
        "NetworkConfiguration": {
          "AwsvpcConfiguration": {
            "Subnets": ["subnet-08ff82d84df0352d0", "subnet-08dc62b993be26d9b"],
            "SecurityGroups": [
              "sg-0a2a4492eca88f57f",
              "sg-01723ee39c2d30eea",
              "sg-063ddea6a10a068c9",
              "sg-075fb46fb5b598f22"
            ],
            "AssignPublicIp": "DISABLED"
          }
        }
      },
      "Next": "ECS RunTask Rename Dance",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "ECS Cleanup On Failure"
        }
      ]
    },
    "ECS RunTask Rename Dance": {
      "Type": "Task",
      "Resource": "arn:aws:states:::ecs:runTask.sync",
      "Arguments": {
        "LaunchType": "FARGATE",
        "Cluster": "arn:aws:ecs:eu-west-3:418484240945:cluster/opk-opac-int-ecs-cluster",
        "TaskDefinition": "arn:aws:ecs:eu-west-3:418484240945:task-definition/ecs-nonprod-rename-dance:1",
        "Overrides": {
          "ContainerOverrides": [
            {
              "Name": "step-rename-dance",
              "Environment": [
                {
                  "Name": "EXECUTION_ARN",
                  "Value": "{% $states.context.Execution.Id %}"
                },
                {
                  "Name": "EXECUTION_NAME",
                  "Value": "{% $states.context.Execution.Name %}"
                }
              ]
            }
          ]
        },
        "NetworkConfiguration": {
          "AwsvpcConfiguration": {
            "Subnets": ["subnet-08ff82d84df0352d0", "subnet-08dc62b993be26d9b"],
            "SecurityGroups": [
              "sg-0a2a4492eca88f57f",
              "sg-01723ee39c2d30eea",
              "sg-063ddea6a10a068c9",
              "sg-075fb46fb5b598f22"
            ],
            "AssignPublicIp": "DISABLED"
          }
        }
      },
      "End": true,
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "ECS Cleanup On Failure"
        }
      ]
    },
    "ECS Cleanup On Failure": {
      "Type": "Task",
      "Resource": "arn:aws:states:::ecs:runTask.sync",
      "Arguments": {
        "LaunchType": "FARGATE",
        "Cluster": "arn:aws:ecs:eu-west-3:418484240945:cluster/opk-opac-int-ecs-cluster",
        "TaskDefinition": "arn:aws:ecs:eu-west-3:418484240945:task-definition/ecs-nonprod-cleanup:1",
        "Overrides": {
          "ContainerOverrides": [
            {
              "Name": "step-cleanup",
              "Environment": [
                {
                  "Name": "EXECUTION_NAME",
                  "Value": "{% $states.context.Execution.Name %}"
                }
              ]
            }
          ]
        },
        "NetworkConfiguration": {
          "AwsvpcConfiguration": {
            "Subnets": ["subnet-08ff82d84df0352d0", "subnet-08dc62b993be26d9b"],
            "SecurityGroups": [
              "sg-0a2a4492eca88f57f",
              "sg-01723ee39c2d30eea",
              "sg-063ddea6a10a068c9",
              "sg-075fb46fb5b598f22"
            ],
            "AssignPublicIp": "DISABLED"
          }
        }
      },
      "Next": "Execution Failed"
    },
    "Execution Failed": {
      "Type": "Fail",
      "Error": "ExecutionFailed",
      "Cause": "Step function failed — ephemeral instance and SSM context have been cleaned up."
    }
  }
}
